body {
	font-family: Verdana, sans-serif;
}

h1 {
	font-size: 2rem;
}

#pager > ul > li, a{
	color: dodgerblue;
}

#pager > ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

#user-list {
	margin-top: 1rem;
}

.subheader > ul {
	background-color:dodgerblue;
	color: white;
	font-weight: bold;
}

.subheader > ul > li {
	padding: .5rem;
}

#user-list ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid black;
	height: 2rem;
	padding: .25rem;
}

#user-list ul li {
	font-size: 0.8rem;
	width: 350px; 
	padding-left: .5rem;
}

@media (max-width: 800px) {
	#pager > ul {
		flex-direction: column;
		align-items: center;
	}

	#user-list ul {
		flex-direction: column;
		height: auto;
		line-height: 2rem;
		padding: 0;
	}

	.subheader {
		display: none;
		padding: 0;
	}

}